
.menuContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 112px;
  height: 100%;
  background: #2D2B35;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.menuContainer img {
  margin-top:1rem;
   
  width: 54px;
  height: 54px;
 

}

.menuBar {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  border: blue;
  cursor: pointer;
    
}


.menuHome {
  height: 32px;
  transition: filter 0.2s;
}

.menuHome p {
  align-content: center;
  margin-left: 2rem;
}

.menuHome:hover {
  filter: brightness(0.9);
  border-left: 3px solid var(--orange);
}

.menuRanking{
  margin-top: 1rem;
  transition: filter 0.2s;
}

.menuRanking p {
  align-content: center;
  margin-left: 2rem;
}

.menuRanking:hover {
  filter: brightness(0.9);
  border-left: 3px solid var(--orange);
}

.menuLogout {
  width: 7rem;
  align-content: center;
  justify-content: center;  
  margin-top: 15rem;
  transition: filter 0.2s;
}

.menuLogout p {
  align-content: center;
  margin-left: 2rem;
}

.menuLogout:hover {
  filter: brightness(0.9);
  border-left: 4px solid black;
}