.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 992px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 2.5rem 2rem;   
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
}

.header span {
  font-size: 5rem;
  font: 500 3.5rem "Inter", sans-serif;
  margin-bottom: 0.5rem;  
  color: var(--orange);
}

.card {   
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background: var(--gray-line);
  border-radius: 5px;
  height: 5rem;
  width: 55rem;
}

.card div:first-child {
  align-items: center;
  margin-left: 1.5rem;
  width: 2rem;
  color: var(--orange);
}

.card div:first-child span {
  font-size: 1.5rem;
  font-weight: bold;  
}

.cardProfile {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  width: 15rem;
}

.cardProfile > img {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--orange);
  border-radius: 50%;
  align-items: center;
}

.cardProfile div {
  margin-left: 1rem;
}

.cardProfile div strong {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.cardProfile div img {
  margin-right: 0.5rem;
}

.cardProfile div span {
  font-size: 0.8rem;
}

.cardChallenge {
  display: flex;
  align-items: center;
  margin-left: 15rem;
}

.cardChallenge p {
  font-weight: bold;
  color: var(--orange);
}
.cardChallenge span {
  margin-left: 3px;
}

.cardExperience {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  margin-right: 2rem;
}

.cardExperience p {
  font-weight: bold;
  color: var(--orange);
}
.cardExperience span {
margin-left: 3px;
}